<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
  <title>Tạo môn Học</title>
</head>
<body>
<div layout:fragment="content">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Tạo Môn Học</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="subjects/list">Môn học</a></li>
            <li class="breadcrumb-item active">Thêm môn học</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Tạo mới Môn học</span></h5>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms">
                    <label>Tên môn học <span class="login-danger">*</span></label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms">
                    <label>Mã môn học <span class="login-danger">*</span></label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-12">
                  <div class="student-submit">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>